<h1>RailsBridgeCorp Open Jobs</h1>
<% @jobs.each do |job| %>
<div class="well">
  <div class="row">
    <div class="col-sm-4">
      <h3><%= job.title %></h3>
    </div>
    <div class="col-sm-8">
      <p><%= job.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-default"><%= link_to "Edit Posting", edit_job_path(job) %></button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-default"><%= link_to 'Delete Posting', job, method: :delete %></button>
    </div>
  </div>
<div class="row">  <hr></div>
</div>
<% end %>
